@import 'settings';
@import 'foundation-emails';

@import 'template/template';
@import "template/streamdesk-email";
@import 'template/streamity-email-help';
@import 'template/streamity-email-crowdsale';
@import 'template/streamity-email-crowdsale-2';



.header__link-img {
  display: inline-block;
  vertical-align: middle;
}

.header__link-text {
  color: $gray;
}


.copyright {
  color: $copyright-color;
  font-size: 12px;
}

