.title-image {
  padding-bottom: 0;
}

.main {
  background-color: $main-bg;
  font-size: 16pt;
  a {
    color: #5c5fb0;
    font-weight: bold;
  }
}

.message {
  color: $gray !important;
}

.message__anotation {
  line-height: 1.5;
}

.message__questions {
  font-size: 14px;
  line-height: 1.8;
}

.connect__text {
  font-size: 13px;
  line-height: 1.8;
}

.connect {
  a {align: center;
    font-size: 14px;
  }
}
.connect__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  float: initial;
}

