.connect {
  a {align: center;
    font-size: 14px;
    color: #5c5fb0;
    font-weight: bold;
  }
}

.connect__text {
  font-size: 13px;
  line-height: 1.8;
}

.connect__img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  float: initial;
}
