.main {
  background-color: $main-bg;
  font-size: 20pt;
}

.short-content {
  line-height: 1.5em;
}

.annotation {
  font-size: 14px;
  line-height: 1.5em;
}

.caption {
  font-weight: bold;
  color: black;
}