.title__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  float: initial;
}

.title__text {
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 20px;
  color: black;
}




